/* HERO */
.contact-hero {
  padding-top: 0.5rem;
  height: 40vh;
  min-height: 200px;
  max-height: 320px;
}

.contact-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(1.1);
}

/* CONTENIDO */
.contact {
  max-width: 520px;
  margin: 1.8rem auto;
}

/* INFO */
.contact-info {
  width: 100%;
}

/* DATOS */
.contact-data {
  margin: 1rem ;
}

.social-links {
padding-top: 5rem;
}
/* EMAIL */
.contact-email {
  display: inline-block;
  padding: rem 1.5rem;
  border: 1px solid var(--color-black);
  border-radius: 3px;
  color: var(--color-black);
  transition: all 0.2s ease;
}

.contact-email:hover {
  background: var(--color-black);
  color: var(--color-white);
}