/* HERO */
.hero {
  height: 100vh;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;

  background-image: url('../img/248149115_421068402723504_7696982041293457869_n.jpg');
  background-repeat: no-repeat;
  background-size: auto; /* clave: no escala */
  background-position: right center;

  z-index: 0;
}

/* OVERLAY OSCURO */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  z-index: 1;
}

/* CONTENIDO */
.hero__overlay {
  position: relative;
  z-index: 2;

  max-width: 700px;
  padding: 0 2rem;

  top: 50%;
  transform: translateY(-50%);
}

/* TEXTOS */
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero__role {
  font-size: 1rem;
  opacity: 0.8;
  margin-bottom: 2rem;
}

/* CTA */
.hero a {
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
}