.page-header {
  margin-top: 3rem;
}

/* TEXTO PROYECTO */

.project h3 {
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-bg);
  margin-top: 0.4rem;
}

.project p {
  font-size: 0.85rem;
  color: red;
  line-height: 1.4;
}
.project-meta {
  font-size: 0.75rem;
  color: var(--color-text-light);
  margin-top: 0.2rem;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* PROJECT */
.project {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 0.3rem;
}

.project h3 {
  line-height: 1.2;
  font-size: 0.9rem;
  color: var(--color-text);
  text-transform: none;
  letter-spacing: 0;
  font-weight: 500;

}

.project p {
  font-size: 0.9rem;
  color: var(--color-text-muted);
}

.project-meta {
  font-size: 0.7rem;
  color: var(--color-text-light);
}

/* NAV CATEGORÍAS */
.project-nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.project-nav a {
  color: var(--color-bg);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-nav a:hover {
  color: var(--color-text);
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .page-header {
    margin-top: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .project-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem 1.5rem;
  }

  .project-nav a {
    font-size: 0.75rem;
  }
}